body
       {
        background-color: rgb(60, 255, 0);
        font-size: 20px;
       }
       div
       {
        background-color: aqua;
        font-style: italic;
        display:block;
       }
       h
       {
         color:gray;
         font-style: italic;
       }
